<h1>About Us</h1>
<p>
	<A HREF="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	is a project to make a book and screencasts to teach web development
	with <A href="http://rubyonrails.org/">Ruby on Rails</A>. This
	is the sample application for the tutorial.
</p>
